﻿@{
    ViewBag.Title = "Index";
}


<div class="container">

    <h2>Administrar informacion de sitio</h2>

    <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Bienvenida</a></li>
            <li role="presentation"><a href="#servicios" aria-controls="servicios" role="tab" data-toggle="tab">Servicios</a></li>
            <li role="presentation"><a href="#acerca" aria-controls="acerca" role="tab" data-toggle="tab">Acerca</a></li>
            <li role="presentation"><a href="#integrantes" aria-controls="integrantes" role="tab" data-toggle="tab">Integrantes</a></li>
            <li role="presentation"><a href="#noticias" aria-controls="noticias" role="tab" data-toggle="tab">Noticias</a></li>
            <li role="presentation"><a href="#contacto" aria-controls="contacto" role="tab" data-toggle="tab">Contacto</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                @Html.Action("Index", "Portada")
            </div>

            <div role="tabpanel" class="tab-pane" id="acerca">
                @Html.Action("Edit", "Acerca")
            </div>

            <div role="tabpanel" class="tab-pane" id="servicios">
                @Html.Action("Index", "Servicios")
            </div>

            <div role="tabpanel" class="tab-pane" id="integrantes">
                @Html.Action("Index", "Integrantes")
            </div>

            <div role="tabpanel" class="tab-pane" id="noticias">
                @Html.Action("Index", "Noticias")
            </div>

            <div role="tabpanel" class="tab-pane" id="contacto">
                @Html.Action("Edit", "Contacto")
            </div>
        </div>

    </div>


</div>