﻿@{
    ViewBag.Title = "Calculo de VUR";
}

<div class="container">
    <h2>Calculo de VUR</h2>

    <div id="entrada-datos">
        <!--Panel de entrada de datos del usuario-->
        <div class="row">

            <div class="col-md-2">
                <label for="">Tipo de edificacion</label>
            </div>
            <div class="col-md-6">
                <select class="form-control" id="tipo-edificacion"></select>
            </div>

        </div>

        <div class="row">
            <div class="col-md-2">
                <label>Edad cronologica</label>
            </div>
            <div class="col-md-6">
                <select class="form-control" id="edad-cronologica"></select>
            </div>
        </div>
    </div>


    <!--Captura de calificaciones-->
    <div class="row" id="captura-calificacion">
        <table class="table table-hover table-responsive">

            <thead>
                <tr>
                    <th>Partida</th>
                    <th>Edad ponderada</th>
                    <th>% de Intervención</th>
                    <th>VRN</th>
                    <th>Estado de conservación</th>
                    <th>Factor de depreciación</th>
                    <th>Vida Util Remanente</th>
                </tr>
            </thead>
            
            <tbody>

                <tr id="partida1" class="partida">
                    <td>Obra negra o gruesa</td>
                    <td class="edad-ponderada-partida" data-edad-pond-partida="" ></td>
                    <td class="porcentaje-intervencion" data-porc-inter=""></td>
                    <td id="vrn" data-vrn></td>
                    <td id="edo-conservacion">
                        <select class="form-control edo-conservacion" data-num-partida="1">
                        </select>
                    </td>
                    <td class="factor-depreciacion"></td>
                    <td class="vur-partida"></td>
                </tr>

                <tr id="partida2" class="partida">
                    <td>Instalaciones Hidraulico-Sanitarias y Electricas</td>
                    <td class="edad-ponderada-partida"></td>
                    <td class="porcentaje-intervencion"></td>
                    <td></td>
                    <td>
                        <select class="form-control edo-conservacion" data-num-partida="2">
                        </select>
                    </td>
                    <td class="factor-depreciacion"></td>
                    <td class="vur-partida"></td>
                </tr>

                <tr id="partida3" class="partida">
                    <td>Recubrimientos y acabados</td>
                    <td class="edad-ponderada-partida"></td>
                    <td class="porcentaje-intervencion"></td>
                    <td></td>
                    <td>
                        <select class="form-control edo-conservacion" data-num-partida="3"></select>
                    </td>
                    <td class="factor-depreciacion"></td>
                    <td class="vur-partida"></td>
                </tr>

                <tr id="partida4" class="partida">
                    <td>Canceleria</td>
                    <td class="edad-ponderada-partida"></td>
                    <td class="porcentaje-intervencion"></td>
                    <td></td>
                    <td>
                        <select class="form-control edo-conservacion" data-num-partida="4">
                        </select>
                    </td>
                    <td class="factor-depreciacion"></td>
                    <td class="vur-partida"></td>
                </tr>

                <tr id="partida5" class="partida">
                    <td>Fachada</td>
                    <td class="edad-ponderada-partida"></td>
                    <td class="porcentaje-intervencion"></td>
                    <td></td>
                    <td>
                        <select class="form-control edo-conservacion" data-num-partida="5">
                        </select>
                    </td>
                    <td class="factor-depreciacion"></td>
                    <td class="vur-partida"></td>
                </tr>

            </tbody>

        </table>
    </div>

    <!--Tabla de resultados-->
    <div class="row" id="resultados-calculo">
        <table class="table table-responsive table-striped"> 

            <tr>
                <td>Vida Util Total (VUT)</td>
                <td><span id="vut"></span></td>
            </tr>
            <tr>
                <td>Vida Util Remanente (VUR)</td>
                <td><span id="vur"></span></td>
            </tr>

            <tr>
                <td>Edad efectiva</td>
                <td><span id="edad-efectiva"></span></td>
            </tr>

            <tr>
                <td>Demerito por edad</td>
                <td><span id="demerito-por-edad"></span></td>
            </tr>

        </table>
    </div>

</div>


