﻿@model ColegioValuadoresTamaulipas.Models.Integrante

@{
    ViewBag.Title = "Delete";
}

<div class="container">

    <h2>Eliminar integrante</h2>

    <h3>¿Está seguro de eliminar este registro?</h3>
    <div>
        <!--<h4>Integrantes</h4>-->
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FichaTecnica)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FichaTecnica)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telefono)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>


</div>

