﻿@model ColegioValuadoresTamaulipas.Models.Integrante

@{
    ViewBag.Title = "Details";
}

<div class="container">

    <h2>Detalles</h2>

    <div>
        <h4>Integrantes</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FichaTecnica)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FichaTecnica)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telefono)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Regresar a listado", "Index")
    </p>

</div>

