﻿@model ColegioValuadoresTamaulipas.Models.Acerca

@{
    Layout = "";
}

<h2>Editar informacion de apartado Acerca</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Acerca</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Contenido, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Contenido, new { id = "editor1" })
                @Html.ValidationMessageFor(model => model.Contenido, "", new { @class = "text-danger" })
                <script type="text/javascript">
                    CKEDITOR.replace('editor1');
                </script>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar cambios" class="btn btn-default" />
            </div>
        </div>
    </div>
}