﻿@model ColegioValuadoresTamaulipas.Models.Servicio

@{
    ViewBag.Title = "Delete";
}

<div class="container">

    <h2>Eliminar servicio</h2>

    <h3>¿Está usted seguro de eliminar este registro?</h3>
    <div>
        <h4>Servicio</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Titulo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-default" /> |
                @Html.ActionLink("Regresar a listado", "Index")
            </div>
        }
    </div>


</div>

