﻿@model ColegioValuadoresTamaulipas.Models.Servicio

@{
    ViewBag.Title = "Details";
}

<div class="container">


    <h2>Detalles de servicio</h2>

    <div>
        <h4>Servicio</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Titulo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Regresar a listado", "Index")
    </p>


</div>

