﻿@model ColegioValuadoresTamaulipas.Models.Acerca

@{
    ViewBag.Title = "Acerca de nosotros";
}

<div class="about">
    <!----//start-banner---->
    <div class="container">
        <section class="title-section">
            <h1 class="title-header">
                Acerca de nosotros
            </h1>
            <ul class="breadcrumb breadcrumb__t"><li><a href="index.html">Inicio</a></li><li class="active">Acerca</li></ul>
        </section>
    </div>
</div>

<div class="about_bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="m_2">Acerca del Colegio de Valuadores de Tamaulipas</h3>
                <div>
                    @Html.Raw( Model.Contenido )
                </div>
            </div>
        </div>
    </div>
</div>
<!----//end-banner---->
<!----//start-content---->
