﻿<div class="container">

    @if( ViewBag.Contacto_OK )
    {
        <h3>Gracias</h3>
        <p>Nos pondremos en contacto a la brevedad con usted.</p>
    }
    else
    {
        <h3>Ocurrio un error</h3>
        <p>Ocurrio un error al enviar la forma de contacto. Por favor envie un correo a la siguiente dirección.</p>
    }


</div>