﻿@model ColegioValuadoresTamaulipas.Models.FormaContacto

<div class="about">
    <!----//start-banner---->
    <div class="container">
        <section class="title-section">
            <h1 class="title-header">
                Contacto
            </h1>
            <ul class="breadcrumb breadcrumb__t"><li><a href="@Url.Action("Index","Home")">Inicio</a></li><li class="active">Contacto</li></ul>
        </section>
    </div>
</div>
<div class="contact">
    <div class="container">
        <div class="map">
            <!--<iframe src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265&amp;output=embed"></iframe><br><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265" style="color:#666;text-align:left;font-size:12px"></a></small>-->
            <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCrLbAlKR3kopydF1-9C0mV_lOqrGV1LFo&q=Calle+Antonio+Cardenas+No.+303,+Col.+Nuevo+Aeropuerto,+Tampico,+Tam."></iframe>
        </div>
        <div class="row contact_top">
            <div class="col-md-4 contact_details">
                <h5>Direccion :</h5>
                <i class="address"></i>
                <div class="contact_address">
                    @ViewBag.Direccion
                </div>
            </div>
            <div class="col-md-4 contact_details">
                <h5>Telefono :</h5>
                <i class="phone"></i>
                <div class="contact_address">
                    @ViewBag.Telefono
                </div>
            </div>
            <div class="col-md-4 contact_details">
                <h5>Email :</h5>
                <i class="mail"></i>
                <div class="contact_mail">
                    @ViewBag.Email
                </div>
            </div>
        </div>
        <div class="contact_bottom">
            <h3>Información de contacto</h3>
            <p>@Html.Raw( ViewBag.Mensaje )</p>
            @using ( Html.BeginForm() )
            {
                @Html.ValidationSummary()
                
                <div class="contact-to">
                    @Html.TextBoxFor(model => model.Nombre, new { placeholder = "Nombre", required = "true"})
                    @Html.TextBoxFor(model => model.Email, new { placeholder = "Email", style = "margin-left:10px;", required = "true" })
                    @Html.TextBoxFor(model => model.Asunto, new { placeholder = "Asunto", style = "margin-left:10px;", required = "true"  })
                </div>
                <div class="text2">
                    @Html.TextAreaFor(model => model.Mensaje, new { placeholder = "Mensaje", required = "true" })
                </div>
                <div>
                    <input type="submit" value="Enviar" class="btn btn-default" />
                </div>
            }

        </div>
    </div>
</div>
<!----//end-banner---->