﻿@model ColegioValuadoresTamaulipas.Models.FormaContacto

@using( Html.BeginForm("FormaContacto","Home") )
{
    <div class="contact-to">
        @Html.EditorFor(model => model.Nombre, new { placeholder = "Nombre" })
        @Html.EditorFor(model => model.Email, new { placeholder = "Email"})
        @Html.EditorFor(model => model.Asunto, new { placeholder = "Asunto"})
    </div>
    <div class="text2">
        @Html.TextAreaFor(model => model.Mensaje, new { placeholder = "Mensaje" })
    </div>
    <div>
        <input type="button" value="Enviar" class="btn btn-default" />
    </div>
}
