﻿
@{
    ViewBag.Title = "Integrantes";
}

<div class="about">
    <!----//start-banner---->
    <div class="container">
        <section class="title-section">
            <h1 class="title-header">
               Integrantes
            </h1>
            <ul class="breadcrumb breadcrumb__t"><li><a href="index.html">Inicio</a></li><li class="active">Integrantes</li></ul>
        </section>
    </div>
</div>

<div class="about_bottom">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>