﻿@model IEnumerable<ColegioValuadoresTamaulipas.Models.Noticia>

<div class="about">
    <!----//start-banner---->
    <div class="container">
        <section class="title-section">
            <h1 class="title-header">
                Noticias
            </h1>
            <ul class="breadcrumb breadcrumb__t"><li><a href="index.html">Inicio</a></li><li class="active">Noticias</li></ul>
        </section>
    </div>
</div>
<div class="about_bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
    
                @foreach( var item in Model )
                {
                <div class="blog_grid">
                    <h2 class="post_title"><a href="#">@item.Titulo</a></h2>
                    <p>@Html.Raw(item.Contenido)</p>
                    <a href="#" class="blog_btn">Leer más</a>
                    <ul class="links">
                        <li><i class="blog_icon1"> </i><span class="icon_text">@item.FechaCreacion</span></li>
                        <li><a href="#"><i class="blog_icon2"> </i><span class="icon_text">@item.Autor</span></a></li>
                    </ul>
                </div>
                }

                <div class="pagination pagination__posts">
                    <ul>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#" class="inactive">2</a></li>
                        <li class="next"><a href="#">Siguiente</a></li>
                        <li class="last"><a href="#">Ultimo</a></li>
                    </ul>
                </div>
              </div>
                
            <div class="col-md-4 blog_sidebar">
                <h3 class="archive">Archivo</h3>
                <ul class="sidebar">
                    <li><a href="#">Feb 2013</a></li>
                    <li><a href="">November 2013</a></li>
                    <li><a href="#">June 2013</a></li>
                    <li><a href="#">November 2013</a></li>
                    <li><a href="#">Feb 2013</a></li>
                    <li><a href="#">Jan 2014</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!----//end-banner---->
