﻿@model IEnumerable<ColegioValuadoresTamaulipas.Models.Servicio>
<div class="about">
    <!----//start-banner---->
    <div class="container">
        <section class="title-section">
            <h1 class="title-header">
                Servicios
            </h1>
            <ul class="breadcrumb breadcrumb__t"><li><a href="index.html">Inicio</a></li><li class="active">Servicios</li></ul>
        </section>
    </div>
</div>
<div class="about_bottom">
    <div class="container">

        @{    
            int currIndex = 1;
            int rowNum = (int) Math.Ceiling( (double) Model.Count() / 4 );
        }

        @for( int i = 0 ; i < rowNum; i++ )
        {   
            <div class="row">
                @while ( currIndex % 3 != 0 && currIndex - 1 < Model.Count() )
                {
                    ColegioValuadoresTamaulipas.Models.Servicio servicio = @Model.ElementAt(currIndex - 1);
                    <div class="col-md-4 service_box">
                        <h2>@servicio.Titulo</h2>
                        <p>@servicio.Descripcion</p>
                    </div>           
                    currIndex++;
                }
            </div>
        }
    </div>
</div>
<!----//end-banner---->
<!----//start-content---->