﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Colegio de Valuadores de Tamaulipas</title>

    <!-- Custom Theme files -->
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <!--ckEditor plugin-->
    <script src="~/Scripts/ckeditor/ckeditor.js" type="text/javascript"></script>

    <script type="text/javascript" src="~/Scripts/CalculoVUR/App.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.flexisel.js"></script>

    <!---- start-smoth-scrolling---->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1200);
            });
        });
    </script>
    <!---- start-smoth-scrolling---->


    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,200,300,400,600,700,900' rel='stylesheet' type='text/css'>

    <!----start-top-nav-script---->
    <script>
        $(function () {
            var pull = $('#pull');
            menu = $('nav ul');
            menuHeight = menu.height();
            $(pull).on('click', function (e) {
                e.preventDefault();
                menu.slideToggle();
            });
            $(window).resize(function () {
                var w = $(window).width();
                if (w > 320 && menu.is(':hidden')) {
                    menu.removeAttr('style');
                }
            });
        });
    </script>
    <!----//End-top-nav-script---->

</head>
<body>


    <!----start-header---->

    <div class="container">
        @Html.Partial("_LoginPartial")
    </div>

    <div class="header">
        
        <div class="container">
            <div class="logo" style="margin-bottom:15px;">
                <a href="/Home"><img src="~/Images/logo.png" alt="" class="img-responsive"></a>
            </div>
            
            <div class="menu">
                <a class="toggleMenu" href="#"><img src="~/Images/nav_icon.png" alt="" /> </a>
                <ul class="nav" id="nav">
                    <li class="current">@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Servicios", "Servicios", "Home")</li>
                    <li>@Html.ActionLink("Acerca", "Acerca", "Home")</li>
                    <li>@Html.ActionLink("Integrantes", "Integrantes", "Home")</li>
                    <li>@Html.ActionLink("Noticias", "Noticias", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contacto", "Home")</li>

                    <div class="clear"></div>
                </ul>
                
                @Scripts.Render("~/Scripts/responsive-nav.js")
                
            </div>
            <div class="clearfix"> </div>
            <!----//End-top-nav---->
        </div>
    </div>
    <!----//End-header---->
    


    <!----//start-content---->
    <div class="main">

        @RenderBody()

        <!--Inicio de Footer-->
        <div class="footer">

            <!--
            <div class="footer_top">
                <div class="container">
                    <div class="footer_head">
                        <h2>Lorem ipsum dolor sit amet</h2>
                        <p>diam nonummy nibh euismod tincidunt ut laoreet dolore magna</p>
                    </div>
                    <div class="row footer_grid">
                        <div class="col-md-6">
                            <ul class="message">
                                <li class="msg-icon"><i class="msg_icon"> </i></li>
                                <li class="msg-desc">
                                    <h4><a href="#">Subscribe Our Newsletter</a></h4>
                                    <p>Via email on how to grow your business online</p>
                                </li>
                                <div class="clearfix"> </div>
                            </ul>
                            <div class="subscribe">
                                <form>
                                    <input type="text" value="">
                                    <input type="submit" value="Sign up">
                                </form>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <ul class="twitter">
                                <li class="twt_icon"><i class="twt"> </i></li>
                                <li class="twt_desc"><p>dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per.</p></li>
                                <div class="clearfix"> </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
            <!--
            <div class="footer_midle">
                <div class='container'>
                    <div class="row">
                        <div class="col-md-4">
                            <ul class="social_left">
                                <li class="facebook"><a href="#"><i class="fb"> </i></a></li>
                                <li class="fb_text">
                                    <h4><a href="#">Follow us on Facebook</a></h4>
                                    <p>quod mazim placerat</p>
                                </li>
                                <div class="clearfix"> </div>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="social_left">
                                <li class="facebook"><a href="#"><i class="google"> </i></a></li>
                                <li class="fb_text">
                                    <h4><a href="#">Follow us on Google +</a></h4>
                                    <p>dolore eu feugiat nulla</p>
                                </li>
                                <div class="clearfix"> </div>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="social_left">
                                <li class="facebook"><a href="#"><i class="linked"> </i></a></li>
                                <li class="fb_text">
                                    <h4><a href="#">Follow us on LinkedIn</a></h4>
                                    <p>quod mazim placerat</p>
                                </li>
                                <div class="clearfix"> </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->


            <div class="footer_bottom">
                <div class="copy">
                    <p>&copy; 2014 Colegio de Valuadores de Tamaulipas</a></p>
                </div>
            </div>
        </div>

     </div>
</body>
</html>