﻿@model ColegioValuadoresTamaulipas.Models.IndexViewModel
@{
    ViewBag.Title = "Gestionar";
}


<div class="container">

    <h2>@ViewBag.Title.</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>

    <h4>Cambiar la configuración de la cuenta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Contraseña:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Cambiar la contraseña", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Crear", "SetPassword")
            }
            ]
        </dd>
        <dt>Inicios de sesión externos:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Administrar", "ManageLogins") ]
        </dd>
        @*
            Se pueden usar números de teléfono como segundo factor de verificación en un sistema de autenticación de dos factores.
             
             Vea <a href="http://go.microsoft.com/fwlink/?LinkId=313242">este artículo</a>
                para obtener detalles sobre cómo configurar esta aplicación ASP.NET para que admita la autenticación de dos factores con SMS.
             
             Quite la marca de comentario del bloque siguiente después de configurar la autenticación de dos factores
        *@
        @*  
            <dt>Número de teléfono:</dt>
            <dd>
                @(Model.PhoneNumber ?? "Ninguno") [
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink("Cambiar", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("Quitar", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("Agregar", "AddPhoneNumber")
                }
                ]
            </dd>
        *@
        <dt>Autenticación de dos factores:</dt>
        <dd>
            <p>
                No hay ningún proveedor de autenticación de dos factores configurado. Vea <a href="http://go.microsoft.com/fwlink/?LinkId=313242">este artículo</a>
                para obtener detalles sobre cómo configurar esta aplicación ASP.NET para que admita la autenticación de dos factores.
            </p>
            @*@if (Model.TwoFactor)
                {

                    <form method="post" action="/Manage/DisableTwoFactorAuthentication">
                        Habilitado
                        <input type="submit" value="Deshabilitar" class="btn btn-link" />
                    </form>
                }
                else
                {

                    <form method="post" action="/Manage/EnableTwoFactorAuthentication">
                        Deshabilitado
                        <input type="submit" value="Habilitar" class="btn btn-link" />
                    </form>
                }*@
        </dd>
    </dl>
</div>
